@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body and fonts */
body {
  background-color: #000; /* bg-black */
  color: #fff;           /* text-white */
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.sans {
  font-family: sans-serif;
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

/* Grain Animation */
@keyframes grain {
  0% { transform: translate(0,0); }
  50% { transform: translate(-5%, -5%); }
  100% { transform: translate(0,0); }
}

.animate-grain {
  animation: grain 6s steps(10) infinite;
}

.christmas-title {
  font-family: 'Mountains of Christmas', cursive;
  color: #ffffff; /* festive red */
}
.love-text {
  font-family: 'Pacifico', cursive;
  color: #efeaeb; /* soft pink */
}
